* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

@font-face {
    font-family: welcome;
    src: url('../font/Inspiration-Regular.ttf');
}


@font-face {
    font-family: header-main-title;
    src: url('../font/Prompt-Light.ttf');
}

@font-face {
    font-family: header-main-description;
    src: url('../font/Manrope-Light.ttf');
}

@font-face {
    font-family: our-commitment-title;
    src: url('../font/LibreFranklin-Light.ttf');
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-image: url('../img/pattern.jpg');
    background-position: center;
    background-color: #6f4d37;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

.main-container {
    margin: 1% 0;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.aside-checkout-container {
    width: 30%;
    padding: 1% 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    /* border: 1px solid #ccc; */
    background-color: rgba(0, 0, 0, .4);
}

.items-sum-full-price-container {
    width: 90%;
    margin: 1% 0;
    padding: 1% 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.items-sum-full-price, .items-sum-full-price-title {
    color: #ccc;
    font-size: 13px;
    font-weight: bold;
    font-family: header-main-description;
}

.items-sum-price-title, .items-sum-price {
    color: white;
    font-size: 18px;
    font-weight: bold;
    font-family: header-main-description;
}

.items-sum-full-price-container:nth-child(3) {
    justify-content: center;
}

.shopping-prices-procedure {
    width: 80%;
    color: #ddd;
    font-size: 13px;
    font-weight: normal;
    font-family: header-main-description;
}

.items-sum-off-price-title, .items-sum-off-price {
    color: #ef4056;
    font-weight: bold;
    font-size: 18px;
    font-family: header-main-description;
}

.continue-shopping-button {
    margin: 4% 0 2%;
    width: 60%;
    padding: 5% 0;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 17px;
    font-weight: bold;
    font-family: header-main-title;
    background-color: #ef4056;
    cursor: pointer;
}

.cart-items-container {
    width: 68%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    border: 1px solid rgba(170, 170, 170, 0.3);
    background-color: rgba(170, 170, 170, .05);
}

.cart-list-item {
    padding-bottom: 2%;
    display: flex;
    width: 95%;
    margin: 3% 0;
    border-bottom: 1px solid #ccc;
    transition: opacity 0.6s;
}

.cart-list-item-image-count-container {
    width: 20%;
    min-height: 180px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}

.cart-list-item-image-container {
    width: 80%;
    max-height: 300px;
    padding: 2%;
    background-color: #ddd;
    border-radius: 10px;
}

.cart-list-item-image {
    width: 100%;
    max-width: 100%;
    border-radius: 10px;
}

.cart-list-item-mobile-product-title-container {
    display: none;
    width: 82%;
    justify-content: flex-start;
    align-items: center;
    margin: 5% 0;
}

.cart-list-item-count-container {
    padding: 4% 5%;
    width: 70%;
    justify-content: space-evenly;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .4);
}

.cart-list-item-mines-button, .cart-list-item-plus-button, .cart-list-item-delete-button {
    width: 30%;
    padding: 5% 0;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: all 500ms;
}

.cart-list-item-mines-button, .cart-list-item-delete-button {
    color: white;
    background-color: #a80e1b;
}

.cart-list-item-mines-button:hover, .cart-list-item-delete-button:hover {
    background-color: #c71221;
}

.cart-list-item-plus-button {
    color: white;
    background-color: rgba(5, 131, 210, .8);
}

.cart-list-item-plus-button:hover {
    background-color: rgba(5, 131, 210, 1);
}

.cart-list-item-count {
    width: 30%;
    padding: 5% 0;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    font-family: header-main-title;
}

.cart-list-item-mines-button {
    display: none;
}

.cart-list-item-main-section {
    width: 80%;
    display: flex;
    flex-flow: column nowrap;
}

.cart-list-item-title {
    color: white;
    font-size: 28px;
    font-weight: bold;
    font-family: our-commitment-title;
}

.cart-list-item-sell-info {
    margin: .5% 0;
    justify-content: flex-start;
}

.cart-list-item-sell-info > svg {
    color: #aaa;
}

.cart-list-item-sell-info-text {
    margin: 0 2%;
    color: #ccc;
    font-size: 13px;
    font-weight: normal;
    font-family: header-main-description;
}

.cart-list-item-price-container {
    margin-left: 1%;
    display: flex;
    flex-flow: column nowrap;
}

.cart-list-item-price-without-off {
    color: #bbb;
    color: #a50b20;
    font-size: 15px;
    font-weight: bold;
    font-family: header-main-description;
    text-decoration: line-through;
}

.cart-list-item-price {
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: header-main-description;
}

@media screen and (max-width: 968px) {
    .cart-list-item-title {
        font-size: 23px;
    }

    .cart-list-item-price {
        font-size: 18px;
    }

    .items-sum-price-title,
    .items-sum-off-price-title,
    .items-sum-off-price,
    .continue-shopping-button,
    .cart-list-item-count {
        font-size: 15px;
    }

    .items-sum-full-price-title,
    .items-sum-full-price,
    .shopping-prices-procedure,
    .cart-list-item-price-without-off {
        font-size: 13px;
    }

    .cart-list-item-sell-info-text {
        font-size: 11px;
    }

    .cart-list-item-sell-info > svg,
    .cart-list-item-delete-button > svg,
    .cart-list-item-plus-button > svg,
    .cart-list-item-mines-button > svg {
        width: 17px;
        height: 17px;
    }

    .cart-list-item-image-count-container {
        justify-content: space-around;
    }
}

@media screen and (max-width: 890px) {
    .main-container {
        flex-flow: column nowrap;
        align-items: center;
    }

    .aside-checkout-container {
        width: 68%;
    }

    .items-sum-price-title,
    .items-sum-off-price-title,
    .items-sum-off-price,
    .continue-shopping-button,
    .cart-list-item-count {
        font-size: 18px;
    }

    .items-sum-full-price-title,
    .items-sum-full-price,
    .shopping-prices-procedure,
    .cart-list-item-price-without-off {
        font-size: 15px;
    }

    .cart-list-item-sell-info > svg,
    .cart-list-item-delete-button > svg,
    .cart-list-item-plus-button > svg,
    .cart-list-item-mines-button > svg {
        width: 20px;
        height: 20px;
    }

    .cart-list-item-delete-button,
    .cart-list-item-plus-button,
    .cart-list-item-mines-button {
        padding: 5%;
    }

    .continue-shopping-button {
        padding: 3% 0;
    }

    .aside-checkout-container {
        margin: 2% 0;
    }
}

@media screen and (max-width: 768px) {
    .cart-list-item {
        border-bottom: 1px solid rgba(0, 0, 0, 0);
    }

    .cart-list-item-count-container {
        width: 100%;
    }

    .cart-list-item-image-count-container {
        width: 80%;
        justify-content: space-between;
        min-height: 150px;
    }

    .cart-list-item-count-container {
        width: 50%;
    }

    .cart-list-item-image-container {
        min-width: 70px;
    }

    .cart-list-item-main-section {
        margin-left: 3%;
        width: 70%;
    }

    .cart-list-item {
        justify-content: center;
    }

    .items-sum-price-title,
    .items-sum-off-price-title,
    .items-sum-off-price,
    .continue-shopping-button,
    .cart-list-item-count {
        font-size: 15px;
    }

    .items-sum-full-price-title,
    .items-sum-full-price,
    .shopping-prices-procedure,
    .cart-list-item-price-without-off {
        font-size: 13px;
    }

    .cart-list-item-sell-info-text {
        font-size: 11px;
    }

    .cart-list-item-sell-info > svg,
    .cart-list-item-delete-button > svg,
    .cart-list-item-plus-button > svg,
    .cart-list-item-mines-button > svg {
        width: 25px;
        height: 25px;
    }

    .cart-list-item-main-section {
        display: none;
    }

    .cart-list-item-mobile-product-title-container {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 500px) {

    .cart-items-container,
    .aside-checkout-container {
        width: 80%;
    }

    .items-sum-price-title,
    .items-sum-off-price-title,
    .items-sum-off-price,
    .continue-shopping-button,
    .cart-list-item-count {
        font-size: 15px;
    }

    .items-sum-full-price-title,
    .items-sum-full-price,
    .shopping-prices-procedure,
    .cart-list-item-price-without-off {
        font-size: 13px;
    }

    .cart-list-item-sell-info-text {
        font-size: 11px;
    }

    .cart-list-item-sell-info > svg,
    .cart-list-item-delete-button > svg,
    .cart-list-item-plus-button > svg,
    .cart-list-item-mines-button > svg {
        width: 25px;
        height: 25px;
    }

    .cart-list-item-count-container {
        min-height: 40px;
    }

    .cart-list-item-delete-button,
    .cart-list-item-plus-button,
    .cart-list-item-mines-button {
        min-height: 30px;
    }
}