* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

@font-face {
    font-family: welcome;
    src: url('../font/Inspiration-Regular.ttf');
}


@font-face {
    font-family: header-main-title;
    src: url('../font/Prompt-Light.ttf');
}

@font-face {
    font-family: header-main-description;
    src: url('../font/Manrope-Light.ttf');
}

@font-face {
    font-family: our-commitment-title;
    src: url('../font/LibreFranklin-Light.ttf');
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-image: url('../img/pattern.jpg');
    background-position: center;
    background-color: #6f4d37;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

a {
    color: white;
}


.main-section {
    padding: 1%;
    margin: 1% auto;
    width: 87%;
    height: 500px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.contact-us-form-title {
    width: 40%;
    color: white;
    font-size: 30px;
    font-weight: bold;
    font-family: our-commitment-title;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    cursor: default;
    text-align: center;
    transition: all 500ms;
}

.contact-us-form-title:hover {
    border-bottom: 1px solid #ccc;
}

.contact-us-form {
    margin: 2% 0 1%;
    width: 70%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.contact-us-form-input,
.contact-us-form-text-area {
    margin: 1% 0;
    padding: 2.5% 6%;
    min-width: 35%;
    color: white;
    font-weight: bold;
    font-size: 17px;
    font-family: header-main-description;
    background-color: rgba(0, 0, 0, .9);
    border: none;
    border-radius: 10px;
}

.contact-us-form-input::placeholder,
.contact-us-form-text-area::placeholder {
    color: white;
    font-weight: bold;
    font-size: 17px;
    font-family: header-main-description;
}

.contact-us-form-text-area {
    min-width: 35%;
    max-width: 35%;
    min-height: 80px;
    max-height: 80px;
}

#contact-us-submit-button {
    padding: 2.5% 5%;
    margin: 2% 0 0;
    color: white;
    font-weight: bold;
    font-size: 17px;
    font-family: header-main-description;
    border: none;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .9);
    cursor: pointer;
    transition: all 500ms;
    background-color: white;
    color: black;
}

#contact-us-submit-button:hover {
    background-color: white;
    color: black;
}

@media screen and (max-width: 1200px) {
    .main-section {
        border-color: rgba(0, 0, 0, 0);
    }

    .contact-us-form-title {
        font-size: 25px;
    }

    .contact-us-form {
        width: 90%;
    }

    .contact-us-form-input,
    .contact-us-form-input::placeholder,
    .contact-us-form-text-area,
    .contact-us-form-text-area::placeholder {
        font-size: 15px;
    }

    #contact-us-submit-button {
        padding: 2% 5%;
        font-size: 15px;
    }
}

@media screen and (max-width: 768px) {
    .main-section {
        height: fit-content;
    }

    .contact-us-form-input,
    .contact-us-form-text-area {
        min-width: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 500px) {
    .contact-us-form-title {
        font-size: 20px;
    }

    .contact-us-form-input,
    .contact-us-form-input::placeholder,
    .contact-us-form-text-area,
    .contact-us-form-text-area::placeholder {
        font-size: 13px;
        min-width: 70%;
        max-width: 70%;
    }

    #contact-us-submit-button {
        font-size: 15px;
        width: 40%;
    }
}