* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

@font-face {
    font-family: welcome;
    src: url('../font/Inspiration-Regular.ttf');
}


@font-face {
    font-family: header-main-title;
    src: url('../font/Prompt-Light.ttf');
}

@font-face {
    font-family: header-main-description;
    src: url('../font/Manrope-Light.ttf');
}

@font-face {
    font-family: our-commitment-title;
    src: url('../font/LibreFranklin-Light.ttf');
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-image: url('../img/pattern.jpg');
    background-position: center;
    background-color: #6f4d37;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

.main-section {
    margin: 1% 0;
    width: 90%;
    padding: 1%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: rgba(0, 0, 0, .2);
}

.sideBar-menu-container {
    width: 25%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    border-right: 1px solid #ccc;
}

.sideBar-menu-user-profile-photo-container {
    margin: 1% 0 3%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

.sideBar-menu-user-profile-photo-exit-botton {
    width: 100%;
    justify-content: flex-start;
}

.sideBar-menu-user-profile-photo-exit-botton>svg {
    width: 22px;
    height: 22px;
    color: #aaa;
    cursor: pointer;
    transition: all 500ms;
}

.sideBar-menu-user-profile-photo-exit-botton>svg:hover {
    color: white;
}

.sideBar-menu-user-profile-photo-holder {
    margin: 2% 0;
    width: 50%;
    padding: 1%;
    background-color: white;
    border-radius: 50%;
    border: 1px solid black;
}

.sideBar-menu-user-profile-photo {
    border-radius: 50%;
}

.sideBar-menu-user-profile-photo-username {
    width: 100%;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 22px;
    font-family: header-main-title;
}

.sideBar-menu-items-container {
    width: 90%;
    padding: 1% 0;
}

.sideBar-menu-list {
    width: 80%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.sideBar-menu-item {
    list-style: disc;
    color: navajowhite;
    margin: 2% 0 1% 2%;
}

.sideBar-menu-item>a {
    color: #aaa;
    font-size: 17px;
    font-family: header-main-description;
    transition: all 500ms;
}

.sideBar-menu-item>a:hover {
    color: white;
}

.sideBar-menu-item>.sideBar-menu-item-active {
    color: white;
    font-weight: bold;
}

.main-section-content-container {
    width: 70%;
    padding: 1%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.main-section-content-title {
    width: 80%;
    text-align: left;
    color: white;
    font-weight: bold;
    font-size: 40px;
    font-family: our-commitment-title;
    border-bottom: 1px solid #ccc;
}

.dashboard-section-info-list {
    display: block;
    margin: 1% 0;
    padding: 1% 0;
    width: 80%;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.dashboard-section-info-list-title {
    width: 80%;
    margin: 1% 0 5%;
    color: #c59779;
    font-size: 20px;
    font-weight: bold;
    font-family: header-main-description;
}

.dashboard-section-info-item {
    width: 60%;
    margin: 1% 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboard-section-info-item-icon {
    width: 10%;
    color: #c59779;
}

.dashboard-section-info-item-key {
    width: 30%;
    color: white;
    font-weight: bold;
    font-size: 18px;
    font-family: header-main-title;
}

.dashboard-section-info-item-value {
    width: 60%;
    color: white;
    font-size: 18px;
    font-family: header-main-title;
}

.main-section-content-products-carousel {
    width: 100%;
    padding: 1% 0;
    margin: 1% 0;

}

#main-section-content-container-dashboard {
    display: none;
}

.cart-items-list {
    margin: 1% 0;
    width: 100%;
    display: grid;
    justify-content: space-evenly;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 4fr;
}

.cart-list-item {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

.cart-list-item-image-container {
    padding: 1%;
    width: 90%;
    border-radius: 10px;
    background-color: white;
    margin: 1% 0;
}

.cart-list-item-image {
    width: 100%;
    border-radius: 10px;
}

.cart-list-item-title {
    margin: 1% 0;
    color: white;
    font-weight: bold;
    font-size: 25px;
    font-family: header-main-description;
}

.cart-list-item-cart-info-container {
    width: 70%;
    margin: 1% 0 5%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.cart-list-item-cart-info-count {
    margin: 0 2% 0 0;
    background-color: rgba(0, 0, 0, .5);
    padding: 4% 8%;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    font-family: our-commitment-title;
    border: 1px solid rebeccapurple;
}

.cart-list-item-cart-info-buttons-container {
    width: 30%;
    padding: 1%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.cart-list-item-cart-info-plus-count-button {
    width: 30px;
    padding: 5% 0;
    background-color: rgba(27, 78, 187, .7);
    color: white;
    font-weight: bold;
    font-size: 17px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 500ms;
}

.cart-list-item-cart-info-plus-count-button:hover {
    background-color: rgba(27, 78, 187, 1);
}

.cart-list-item-cart-info-mines-count-button {
    width: 30px;
    padding: 5% 0;
    background-color: rgba(187, 27, 27, .7);
    color: white;
    font-weight: bold;
    font-size: 17px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 500ms;
}

.cart-list-item-cart-info-mines-count-button:hover {
    background-color: rgba(187, 27, 27, 1);
}

.cart-list-item-cart-info-remove-button {
    padding: 4% 6%;
    font-size: 17px;
    color: white;
    background-color: rgba(187, 27, 27, .7);
    font-family: our-commitment-title;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 500ms;
}

.cart-list-item-cart-info-remove-button:hover {
    background-color: rgba(187, 27, 27, 1);
}

.cart-list-item-product-button {
    padding: 4% 6%;
    color: white;
    background-color: rgba(0, 0, 0, .8);
    border: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    font-family: header-main-title;
    transition: all 500ms;
    cursor: pointer;
}

.cart-list-item-product-button:hover {
    background-color: white;
    color: black;
}

.see-full-cart-button-container {
    width: 100%;
    padding: 1% 0;
}

.cart-list-item-button {
    padding: 1% 2%;
    font-size: 20px;
    font-weight: bold;
    font-family: our-commitment-title;
    color: black;
    background-color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 500ms;
}

.cart-list-item-button:hover {
    background-color: rgba(0, 0, 0, .8);
    color: white;
}

#main-section-content-container-cart {
    display: none;
}

.factors-container {
    width: 80%;
    padding: 2% 0;
    margin: 2% 0 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #fdfbfb;
}

.factor-item {
    margin-bottom: 2%;
    width: 95%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    border-radius: 10px;
}

.factor-item:last-child {
    margin: 0;
}

.factor-item-header {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px 10px 0 0;
    transition: all 500ms;
}

.factor-item-title {
    width: 98%;
    text-align: left;
    color: black;
    font-size: 25px;
    font-weight: bold;
    font-family: header-main-title;
}

.factor-item-date-container {
    width: 98%;
    margin: 1% 0 .2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.factor-item-date {
    color: #ccc;
    color: rgb(71, 70, 70);
    font-weight: normal;
    font-size: 15px;
}

.factor-item-menu-botton {
    font-weight: bold;
    font-size: 25px;
    color: rgb(71, 70, 70);
    cursor: pointer;
}

.factor-item-menu-botton-close {
    display: none;
}

.factor-item-according-container {
    width: 85%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    /* display: none; */
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.factor-item-according-line {
    padding: 1% 0;
    margin: .5% 0;
    width: 100%;
    border-bottom: 1px solid #aaa;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.factor-item-according-line-title, .factor-item-according-line-value {
    color: black;
    font-weight: bold;
    font-size: 18px;
    font-family: header-main-description;
}

.more-detail-bottom-container {
    width: 100%;
    margin: 2% 0 1%;
}

.more-detail-bottom {
    padding: 2% 4%;
    background-color: rgba(0, 0, 0, .7);
    color: white;
    font-size: 18px;
    font-weight: bold;
    font-family: our-commitment-title;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 500ms;
}

.more-detail-bottom:hover {
    color: white;
    background-color: rgba(0, 0, 0, 1);
}