* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

@font-face {
    font-family: welcome;
    src: url('../font/Inspiration-Regular.ttf');
}


@font-face {
    font-family: header-main-title;
    src: url('../font/Prompt-Light.ttf');
}

@font-face {
    font-family: header-main-description;
    src: url('../font/Manrope-Light.ttf');
}

@font-face {
    font-family: our-commitment-title;
    src: url('../font/LibreFranklin-Light.ttf');
}

body {
    background-image: url('../img/pattern.jpg');
    background-position: center;
    background-color: #6f4d37;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

a {
    color: black;
}

.header {
    padding: 0;
}

.header-background {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1000;
    background-image: url('../img/background-coffe.jpg');
    background-position: center;
    background-color: #6f4d37;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.header-main-container {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
}

.welcome {
    margin: 1% 0;
    width: fit-content;
    color: white;
    font-weight: lighter;
    font-size: 40px;
    font-family: welcome;
}

.header-main-title {
    margin: 1% 0;
    padding: 1% 0;
    width: 60%;
    color: white;
    font-size: 50px;
    font-family: header-main-title;
    text-align: center;
}

.header-main-description {
    margin: 1% 0;
    padding: 1% 0;
    width: 40%;
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: header-main-description;
}

.header-main-buttons-container {
    padding: 2% 0;
    margin: 1% 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-main-button {
    margin: 0 1%;
    padding: 1% 2.5%;
    background-color: rgba(0, 0, 0, .8);
    color: white;
    font-weight: bold;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 1px solid rgba(255, 255, 255, .8);
    cursor: pointer;
    border-radius: 10px;
}

.header-main-button:hover {
    transition: all 500ms;
    border: 1px solid rgba(0, 0, 0, .3);
    color: rgb(90, 46, 6);
    background-color: white;
}

.header-coffeshop-info-container {
    padding: 2% 0;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.header-coffeshop-info {
    width: 20%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.header-coffeshop-info-title {
    padding: 1% 0;
    margin: 1% 0;
    width: 90%;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-family: header-main-description;
}

.header-coffeshop-info-description {
    padding: 1% 0;
    width: 90%;
    text-align: center;
    font-family: header-main-description;
}

.section-our-story {
    padding: 1% 0;
    margin: 1% 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.our-story-image {
    padding: .5%;
    border-radius: 10px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6f4d37;
}

.our-story-image>img {
    border-radius: 10px;
}

.our-story-description {
    padding: 2%;
    width: 40%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, .4);
    border-radius: 10px;
}

.our-story-description-title {
    margin: 1% 0;
    padding: .5% 0;
    color: white;
    font-size: 40px;
    font-family: welcome;
}

.our-story-description-title-2 {
    font-family: header-main-title;
}

.our-story-description-text {
    padding: 1% 0;
    width: 80%;
    color: white;
    font-size: 18px;
    font-family: header-main-description;
}

.our-story-description-text-mobile {
    display: none;
}

.our-commitment-section {
    padding: 1% 0;
    margin: .5% 0;
    width: 100%;
    background-color: #c49b63;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.our-commitment-item {
    margin: 3% 0;
    padding: 1%;
    width: 25%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
}

.our-commitment-item:hover {
    transition: all 500ms;
    background-color: rgba(0, 0, 0, .3);
}

.our-commitment-icon {
    margin: 1% 0 5%;
    padding: 3%;
    border: .5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
}

.our-commitment-title {
    padding: 1% 0;
    margin: 1% 0;
    color: white;
    cursor: default;
    font-family: our-commitment-title;
}

.our-commitment-text {
    margin: 1%;
    text-align: center;
    font-size: 18px;
    cursor: default;
    font-family: header-main-description;
}

.our-menu-section {
    margin: 1% 0;
    padding: 3% 0 1%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.our-menu-image-container {
    padding: .5%;
    width: 40%;
    order: 2;
    background-color: #6f4d37;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.our-menu-image-container>img {
    border-radius: 10px;
}

.our-menu-description {
    width: 40%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;

}

.our-menu-description-title {
    margin: 1% 0;
    padding: .5% 0;
    color: white;
    font-size: 40px;
    font-family: welcome;
}

.our-menu-description-title-2 {
    font-family: header-main-title;
}

.our-menu-description-text {
    padding: 1% 0;
    margin-bottom: 5%;
    width: 80%;
    color: white;
    font-size: 18px;
    font-family: header-main-description;
}

.our-menu-button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.our-menu-button {
    width: fit-content;
    padding: 2.5% 7%;
    font-weight: bold;
    font-size: large;
}

.book-table-section {
    width: 100%;
    padding: 2% 0;
    margin: .5% 0;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    background-image: linear-gradient(to left, #673400, #834200, #964B00, #A4550A, #B5651D);
}

.book-table-image-container {
    padding: .5%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #fff;
}

.book-table-image-container>img {
    border-radius: 10px;
}

.book-table-container {
    margin: auto 0;
    width: 40%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.book-table-form {
    padding: 2% 3%;
    width: 70%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .4);
    border-radius: 10px;
    border: 5px solid rgba(255, 255, 255, .5);
}

.row {
    width: 100%;
    padding: 2% 0;
    margin: 2% 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col {
    width: 100%;
    display: flex;
    justify-content: center;
}

.col-7 {
    width: 70%;
    margin: 0 2%;
}

.col-3 {
    width: 30%;
}


.book-table-form-label {
    color: white;
    font-family: our-commitment-title;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

.col-7>input {
    padding: 2%;
    border: none;
    width: 100%;
    height: 20px;
    background-color: rgba(0, 0, 0, .4);
    color: white;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
}

.col-7>textarea {
    padding: 2%;
    border: none;
    width: 100% !important;
    height: 100% !important;
    background-color: rgba(0, 0, 0, .4);
    color: white;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
}

.book-table-button {
    padding: 2% 15%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .8);
    color: white;
    font-weight: bold;
    font-family: header-main-title;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

.book-table-button:hover {
    transition: all 1s;
    background-color: rgba(255, 255, 255, .8);
    color: black;
}

.best-coffe-sellers-section {
    width: 100%;
    margin: 1% 0;
    padding: 2% 0 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

.best-coffe-seller-header {
    width: 100%;
    padding: 1% 0;
    margin: 1% 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

.best-coffe-seller-header-title {
    color: rgba(255, 217, 0, 0.74);
    text-align: center;
    font-family: welcome;
    font-size: 50px;
}

.best-coffe-seller-header-title:nth-child(2) {
    color: white;
    font-family: our-commitment-title;
    font-size: 40px;
}

.best-coffe-seller-header-text {
    margin: 3% 0;
    width: 60%;
    color: white;
    text-align: center;
    font-size: 18px;
}

.best-coffe-seller-footer {
    margin: 2% 0;
    padding: 2% 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.best-coffe-seller-footer-item {
    padding: 2% 0;
    width: 20%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
}

.best-coffe-seller-item-image {
    padding: 2%;
    margin: 1% 0 0;
    width: 200px;
    height: 200px;
    background-color: #fff;
    border-radius: 10px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.best-coffe-seller-item-image>img {
    border-radius: 10px;
}

.best-coffe-seller-item-title {
    margin: 2% 0;
    padding: 1% 0;
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 20px;
    font-family: header-main-title;
}

.best-coffe-seller-item-text {
    margin: .5% 0;
    padding: 1% 0;
    width: 80%;
    color: white;
    text-align: center;
    font-family: header-main-description;
    font-size: 16px;
}

.best-coffe-seller-item-title:nth-child(2) {
    margin: 2% 0;
    padding: 1% 0;
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 18px;
    font-family: header-main-title;
}

.best-coffe-seller-item-button-container {
    margin: 1% 0;
    padding: 2% 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.best-coffe-seller-item-button {
    border: none;
    padding: 5% 8%;
    background-color: rgba(0, 0, 0, .7);
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    font-family: our-commitment-title;
    cursor: pointer;
}

.best-coffe-seller-item-button:hover {
    transition: all 500ms;
    color: black;
    background-color: white;
}

.image-gallery-section {
    margin: 1% 0;
    padding: 1% 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row nowrap;
}

.image-gallery-item {
    width: 17%;
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
}

.img-of-image-gallery {
    border-radius: 10px;
}

.our-full-menu-section {
    width: 100%;
    margin: 1% 0;
    padding: 2% 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

.our-full-menu-header-container {
    width: 100%;
    padding: 1% 0;
    margin: 0 0 1%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

.our-full-menu-header-title {
    color: white;
    font-size: 50px;
    font-weight: bold;
    font-family: header-main-title;
    cursor: default;
}

.our-full-menu-header-description {
    padding: 1% 0;
    width: 70%;
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    font-family: header-main-description;
    cursor: default;
}

.our-full-menu-header-button-container {
    width: 40%;
    padding: 1% 0;
    display: flex;
    justify-content: space-between;
}

.our-full-menu-header-button {
    margin: 1% 0;
    padding: 3% 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: black;
    color: white;
    font-size: 15px;
    font-family: our-commitment-title;
}

.our-full-menu-header-button-active {
    background-color: white;
    color: black;
}

.our-full-menu-header-button:hover {
    transition: all 700ms;
    background-color: white;
    color: black;
}

.our-full-menu-body-container {
    width: 100%;
    height: 100%;
    padding: 2% 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
}

.our-full-menu-items-container {
    width: 100%;
    height: 100%;
    display: none;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    justify-content: space-evenly;
}

.our-full-menu-items-container-active {
    display: grid;
}

.our-full-menu-item {
    margin: 4% 0;
    width: 390px;
    height: 390px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.our-full-menu-item:hover {
    transition: all 700ms;
    background-color: rgba(0, 0, 0, .2);
}

.our-full-menu-item-image {
    margin: 2% 0 0;
    width: 75%;
    height: 75%;
    color: black;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
}

.our-full-menu-item-title {
    margin: 4% 0;
    color: white;
    font-family: our-commitment-title;
    font-weight: bold;
    font-size: 20px;
}

.full-menu-load-more-button-container {
    padding: 2% 0;
    margin: 1% 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.full-menu-load-more-button {
    padding: 2% 5%;
    border: none;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .6);
    color: white;
    font-weight: bolder;
    font-size: 18px;
    font-family: our-commitment-title;
    cursor: pointer;
}

.full-menu-load-more-button:hover {
    transition: all 500ms;
    background-color: rgba(0, 0, 0, .9);
}

@media screen and (max-width:1200px) {
    .header-main-title {
        width: 80%;
        font-size: 40px;
    }

    .header-main-button {
        padding: 2% 5%;
        margin: 0 2%;
    }

    .our-full-menu-item {
        width: 300px;
        height: 300px;
    }

    .our-full-menu-item:hover {
        background-color: rgba(0, 0, 0, 0);
    }

    .header-coffeshop-info-title {
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
    }

    .header-coffeshop-info-title>span {
        margin: 8% 0;
        font-weight: bold;
    }

    .section-our-story {
        flex-flow: column nowrap;
    }

    .our-story-image {
        width: 80%;
    }

    .our-story-description {
        margin: 2% 0 .5%;
        width: 80%;
        align-items: center;
    }

    .our-story-description-text {
        display: none;
    }

    .our-story-description-text-mobile {
        display: block;
        text-align: center;
    }

    .our-commitment-section {
        flex-flow: column nowrap;
        align-items: center;
    }

    .our-commitment-item {
        padding: 0;
        margin: 1% 0;
        width: 80%;
        border-bottom: 2px solid #ccc;
        border-radius: 0;
    }

    .our-commitment-icon {
        margin: 1% 0;
    }

    .our-menu-description {
        padding: 10% 0;
        align-items: center;
        justify-content: space-evenly;
    }

    .our-commitment-text {
        display: none;
    }

    .our-menu-button {
        padding: 3% 5%;
    }

    .book-table-section {
        flex-flow: column nowrap;
        align-items: center;
    }

    .book-table-image-container {
        display: none;
    }

    .book-table-container {
        width: 80%;
    }

    .book-table-form {
        width: inherit;
    }

    .best-coffe-seller-footer {
        flex-wrap: wrap;
    }

    .best-coffe-seller-footer-item {
        width: 40%;
    }

    .image-gallery-section {
        flex-wrap: wrap;
    }

    .image-gallery-item {
        width: 15%;
    }

    .our-full-menu-item {
        width: 250px;
        height: 250px;
    }

}


@media screen and (max-width:768px) {
    .header-main-description {
        width: 80%;
    }

    .header-main-title {
        font-size: 25px;
        width: 80%;
    }

    .header-coffeshop-info-title {
        margin: 10% 0;
        justify-content: center;
    }

    .header-coffeshop-info-title>span {
        display: none;
    }

    .our-menu-description-text {
        display: none;
    }

    .our-menu-description-title-2 {
        margin: 5% 0;
        font-size: 35px;
        font-weight: bold;
    }

    .our-menu-description {
        padding: 10% 0;
        align-items: center;
        justify-content: space-evenly;
    }

    .our-menu-button {
        padding: 3% 10%;
    }

    .book-table-form-label {
        display: none;
    }

    .row {
        justify-content: center;
    }

    .col-3 {
        display: none;
    }

    .col-7 {
        width: 80%;
    }

    .best-coffe-seller-header-title:first-child {
        font-size: 25px;
    }

    .best-coffe-seller-header-title:last-child {
        font-size: 10px;
    }

    .best-coffe-seller-header-text {
        width: 80%;
    }

    .best-coffe-seller-footer {
        width: 100%;
        flex-flow: row wrap;
    }

    .best-coffe-seller-footer-item {
        width: 40%;
    }

    .best-coffe-seller-header-text {
        display: none;
    }

    .best-coffe-seller-item-text {
        display: none;
    }

    .image-gallery-item {
        width: 40%;
        justify-content: center;
    }

    .image-gallery-item:nth-child(3) {
        display: none;
    }


    .image-gallery-item:nth-child(4) {
        display: none;
    }

    .our-full-menu-header-button-container {
        width: 40%;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .our-full-menu-items-container {
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
    }

    .our-full-menu-item {
        width: 200px;
        height: 200px;
    }

    .our-full-menu-item:nth-child(5) {
        display: none;
    }

    .our-full-menu-item:nth-child(6) {
        display: none;
    }

    .our-full-menu-item:nth-child(7) {
        display: none;
    }

    .our-full-menu-item:nth-child(8) {
        display: none;
    }

    .our-full-menu-item:nth-child(9) {
        display: none;
    }
}